.tile {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1px;
}

.tile.red {
    border-color: red;
}

.tile.green {
    border-color: green;
}

.tile.blue {
    border-color: blue;
}

.tile.yellow {
    border-color: yellow;
}


.tile.obstacle {
    background-color: black;
}

.tile.wreck {
    background-image: url(../../assets/sprites/wreck-01.png);
    background-size: 2rem 2rem;
}

.tile.tank {
    background-image: url(../../assets/sprites/tankB-01.png);
    background-size: 2rem 2rem;
}