.tile {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1px;
}

.tile.red {
    background-color: red;
}

.tile.green {
    background-color: green;
}

.tile.blue {
    background-color: blue;
}

.tile.yellow {
    background-color: yellow;
}


.tile.obstacle {
    background-color: black;
}