.tile {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1px;
}

.tile.red.pressed {
    border-color: red;
}

.tile.green.pressed {
    border-color: green;
}

.tile.blue.pressed {
    border-color: blue;
}

.tile.yellow.pressed {
    border-color: yellow;
}



.tile.obstacle {
    background-color: black;
}


.tile.pickup {
    background-image: url(../../assets/sprites/Pickups/health.png);
    background-size: 2rem 2rem;
}



.tile.redwreck {
    background-image: url(../../assets/sprites/Red/wreckRed.png);
    background-size: 2rem 2rem;
}

.tile.greenwreck {
    background-image: url(../../assets/sprites/Green/wreckGreen.png);
    background-size: 2rem 2rem;
}

.tile.bluewreck {
    background-image: url(../../assets/sprites/Blue/wreckBlue.png);
    background-size: 2rem 2rem;
}

.tile.yellowwreck {
    background-image: url(../../assets/sprites/Yellow/wreckYellow.png);
    background-size: 2rem 2rem;
}



.tile.redtank {
    background-image: url(../../assets/sprites/Red/tankBRed.png);
    background-size: 2rem 2rem;
}

.tile.greentank {
    background-image: url(../../assets/sprites/Green/TankBGreen.png);
    background-size: 2rem 2rem;
}

.tile.bluetank {
    background-image: url(../../assets/sprites/Blue/TankBBlue.png);
    background-size: 2rem 2rem;
}

.tile.yellowtank {
    background-image: url(../../assets/sprites/Yellow/TankBYellow.png);
    background-size: 2rem 2rem;
}

.label {
    position: absolute;
    width: 100%;
    max-width: 100%;
    font-size: 1%;
    bottom: 0;
}